[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=DBeaver
GenericName=SQL Database Client
Comment=Universal Database Manager and SQL Client.
Path=/opt/dbeaver
Exec=/opt/dbeaver/dbeaver
Icon=dbeaver
Categories=Development;IDE;Java
WM_CLASS=DBeaver
StartupWMClass=SWT
StartupNotify=true
