[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Path=/opt/emby-theater-electron
Exec=electron main.js
TryExec=electron
Name=Emby Theater
Icon=/opt/emby-theater-electron/emby.png
Keywords=Emby,Media,Media Server,Media Browser
