[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Path=/opt/emby-theater-electron
Exec=/opt/emby-theater-electron/et.sh
TryExec=/opt/emby-theater-electron/et.sh
Name=Emby Theater
Icon=/opt/emby-theater-electron/emby.png
Keywords=Emby,Media,Media Server
