[Desktop Entry]
Name=Teams For Linux (Edge)
Comment=Unofficial Microsoft Teams client for Linux using Electron (Edge User Agent).
Path=/opt/teams-for-linux
Exec=/opt/teams-for-linux/teams --partition persist:teams-edge --userAgent edge
Icon=teams-for-linux
Type=Application
StartupNotify=true
Categories=Network;InstantMessaging;Application;
Terminal=false
